# essential packages for the MCP
ruff
pyright
bandit[toml]
mcp

# additional packages available for generated code
numpy
pydantic
pydantic-settings
django
psycopg >=3.2.13,<4
requests
pandas
matplotlib
scipy